.hero-description {
  width: 100%
}

.my-card {
  margin: 5px
}

.descriptive-form-field {
  margin: 5px;
  width: 12em;
}

@media only screen and (min-width: 768px) {
  .advantage-div {
    min-width: 40%;
    float: left
  }

  .disadvantage-div {
    min-width: 40%;
    float: right
  }
}
