@media screen and (min-width: 660px) {
  .my-link {
    width: 10em !important;
    margin-right: 5px;
    min-width: unset!important;
    border: 1px solid #ccc;
  }
}

.flexExpand {
  flex: 1 1 auto;
}

@media only screen and (max-width: 660px) {
  .my-link-text {
    display: none;
  }

  .my-link {
    width: 4em;
    margin-right: 5px;
    min-width: unset!important;
    font-size: 11px;
    border: 1px solid #ccc;
  }
}
