.my-link {
  width: 12% !important;
  margin-right: 5px;
  min-width: unset!important;
  border: 1px solid #ccc;
}

.flexExpand {
  flex: 1 1 auto;
}

@media only screen and (max-width: 980px) {
  .my-link-text {
    display: none;
  }
}
