<div style="min-height: 100%">

  <mat-toolbar class="my-toolbar">
    <mat-toolbar-row>
      <img src="assets/logo-inverted.png" width="40" height="40" style="margin-right: 5px">
      <span>Dark Editor</span>
    </mat-toolbar-row>
    <mat-toolbar-row>

      <button mat-button routerLink="/hero" routerLinkActive="active" class="my-link" color="primary">
        <iconify-icon icon="mdi:view-dashboard"></iconify-icon>
        <span class="my-link-text">
          Helden
        </span>
      </button>
      @if (compHeroId) {
        <button mat-button routerLink="/hero/general/{{compHeroId}}" routerLinkActive="active"
          class="my-link" color="primary">
          <iconify-icon icon="mdi:card-text"></iconify-icon>
          <span class="my-link-text">
            Allgemein
          </span>
        </button>
      }
      @if (compHeroId) {
        <button mat-button routerLink="/hero/detail/{{compHeroId}}" routerLinkActive="active"
          class="my-link" color="primary">
          <iconify-icon icon="mdi:pickaxe"></iconify-icon>
          <span class="my-link-text">
            Talente
          </span>
        </button>
      }
      @if (compHeroId) {
        <button mat-button routerLink="/hero/notes/{{compHeroId}}" routerLinkActive="active"
          class="my-link" color="primary">
          <iconify-icon icon="mdi:calendar-text"></iconify-icon>
          <span class="my-link-text">
            Notizen
          </span>
        </button>
      }
      @if (compHeroId) {
        <button mat-button routerLink="/hero/fight/{{compHeroId}}" routerLinkActive="active"
          class="my-link" color="primary">
          <iconify-icon icon="mdi:sword-cross"></iconify-icon>
          <span class="my-link-text">
            Kampf
          </span>
        </button>
      }
      @if (compHeroId) {
        <button mat-button routerLink="/hero/magic/{{compHeroId}}" routerLinkActive="active"
          class="my-link" color="primary">
          <iconify-icon icon="mdi:auto-fix"></iconify-icon>
          <span class="my-link-text">
            Magie
          </span>
        </button>
      }
      @if (compHeroId) {
        <button mat-button routerLink="/hero/liturgic/{{compHeroId}}" routerLinkActive="active"
          class="my-link" color="primary">
          <iconify-icon icon="mdi:hands-pray"></iconify-icon>
          <span class="my-link-text">
            Liturgie
          </span>
        </button>
      }
      @if (compHeroId) {
        <button mat-button routerLink="/hero/inventory/{{compHeroId}}" routerLinkActive="active"
          class="my-link" color="primary">
          <iconify-icon icon="mdi:bag-suitcase"></iconify-icon>
          <span class="my-link-text">
            Inventar
          </span>
        </button>
      }
      @if (compHeroId) {
        <button mat-button (click)="save()" class="my-link" color="primary">
          <iconify-icon icon="mdi:content-save"></iconify-icon>
          <span class="my-link-text">
            Speichern
          </span>
        </button>
      }
    </mat-toolbar-row>
  </mat-toolbar>

  <div style="background: #303030; min-height: 100%; min-width: 100%">
    <router-outlet></router-outlet>
  </div>
</div>
