<mat-toolbar class="my-toolbar">
  <span>DSA Editor</span>
  <span class="flexExpand"></span>
  <button mat-button routerLink="/hero" routerLinkActive="active" class="my-link" color="primary">
    <mat-icon>dashboard</mat-icon>
    <span class="my-link-text">
    Helden
    </span>
  </button>
  <button mat-button *ngIf="compHeroId" routerLink="/hero/general/{{compHeroId}}" routerLinkActive="active"
          class="my-link" color="primary">
    <mat-icon>text_fields</mat-icon>
    <span class="my-link-text">
      Allgemein
    </span>
  </button>
  <button mat-button *ngIf="compHeroId" routerLink="/hero/detail/{{compHeroId}}" routerLinkActive="active"
          class="my-link" color="primary">
    <mat-icon>details</mat-icon>
    <span class="my-link-text">
    Details
    </span>
  </button>
  <button mat-button *ngIf="compHeroId" routerLink="/hero/notes/{{compHeroId}}" routerLinkActive="active"
          class="my-link" color="primary">
    <mat-icon>notes</mat-icon>
    <span class="my-link-text">
    Notizen
    </span>
  </button>
  <button mat-button *ngIf="compHeroId" (click)="save()" class="my-link" color="primary">
    <mat-icon>save</mat-icon>
    <span class="my-link-text">
    Speichern
    </span>
  </button>
</mat-toolbar>

<div style="background: #303030; height: 100%">
  <router-outlet></router-outlet>
</div>
