.notes {
    margin: 10px;
}

.note-text {
  width:100%
}

.note-header {
  color:white;
  margin-right: 10px;
  text-align: center
}

@media screen and (max-width: 600px) {
  .prim-stats {
    margin: 5px;
    width: 4em
  }
}
@media screen and (min-width: 600px) {
  .prim-stats {
    margin: 5px;
    width: 6em
  }
}


