<button class="dsa-button" mat-raised-button type="button" (click)="addNewNote()" color="primary">Neuer Eintrag</button>
<div *ngIf="hero">
  <mat-card *ngFor="let note of hero.notes" class="notes">
    <mat-card-header>
      <mat-card-title class="note-header">
        {{note.date.toLocaleString()}}</mat-card-title>
      <mat-card-subtitle>
        <mat-form-field class="prim-stats">
          <mat-label for="hero-lep">LeP</mat-label>
          <input matInput id="hero-lep" placeholder="LeP" type="number" [(ngModel)]='note.lep'>
        </mat-form-field>
        <mat-form-field class="prim-stats">
          <mat-label for="hero-kap">KaP</mat-label>
          <input matInput id="hero-kap" placeholder="KaP" type="number" [(ngModel)]='note.kap'>
        </mat-form-field>
        <mat-form-field class="prim-stats">
          <mat-label for="hero-asp">AsP</mat-label>
          <input matInput id="hero-asp" placeholder="AsP" type="number" [(ngModel)]='note.asp'>
        </mat-form-field>
        <mat-form-field class="prim-stats">
          <mat-label for="hero-sch">Sch</mat-label>
          <input matInput id="hero-sch" placeholder="Sch" type="number" [(ngModel)]='note.sch'>
        </mat-form-field>
      </mat-card-subtitle>

    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="note-text">
        <textarea matInput [(ngModel)]='note.text'></textarea>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>
