<div *ngIf="hero">
  <div>
    <mat-card class="my-top-card">
      <mat-card-header>
        <mat-card-title class="my-card-title">
          Gelbeutel
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <mat-form-field class="property-form-field" style="min-width: 22%;">
            <mat-label for="hero-dukaten">Dukaten</mat-label>
            <input matInput id="hero-dukaten" [(ngModel)]="hero.wallet.dukaten" placeholder="dukaten" type="number">
          </mat-form-field>

          <mat-form-field class="property-form-field" style="min-width: 22%;">
            <mat-label for="hero-silber">Silbertaler</mat-label>
            <input matInput id="hero-silber" [(ngModel)]="hero.wallet.silbertaler" placeholder="silber" type="number">
          </mat-form-field>

          <mat-form-field class="property-form-field" style="min-width: 22%;">
            <mat-label for="hero-kreuzer">Kreuzer</mat-label>
            <input matInput id="hero-kreuzer" [(ngModel)]="hero.wallet.kreuzer" placeholder="kreuzer" type="number">
          </mat-form-field>

          <mat-form-field class="property-form-field" style="min-width: 22%;">
            <mat-label for="hero-heller">Heller</mat-label>
            <input matInput id="hero-heller" [(ngModel)]="hero.wallet.heller" placeholder="heller" type="number">
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="my-card">
      <mat-card-header>
        <mat-card-title class="my-card-title">
          Inventar
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let item of hero.items; let i = index" class="my-table-card-replacement">
          <mat-form-field class="property-form-field" style="min-width: 35%">
            <mat-label for="item-name">Name</mat-label>
            <input matInput id="item-name" [(ngModel)]="item.name" placeholder="name" type="string">
          </mat-form-field>
          <mat-form-field class="property-form-field" style="min-width: 15%">
            <mat-label for="item-amount">Menge</mat-label>
            <input matInput id="item-amount" [(ngModel)]="item.amount" placeholder="amount" type="number">
          </mat-form-field>
          <mat-form-field class="property-form-field" style="min-width: 20%">
            <mat-label for="item-price">Preis</mat-label>
            <input matInput id="item-price" [(ngModel)]="item.price" placeholder="price" type="number">
          </mat-form-field>
          <mat-form-field class="property-form-field" style="min-width: 20%">
            <mat-label for="item-weight">Gewicht</mat-label>
            <input matInput id="item-weight" [(ngModel)]="item.weight" placeholder="weight" type="number">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="deleteItem(i)" class="remove-action-button">
            -
          </button>
        </div>
        <button mat-raised-button color="primary" (click)="addItem()" class="add-action-button" style="margin-top: 5px">
          +
        </button>
      </mat-card-content>
    </mat-card>

  </div>
</div>
