.hero-description {
  width: 100%
}

.descriptive-form-field {
  margin: 5px;
  width: 12em;
}

.advantage-form-field {
  margin: 5px;
  width: 40%;
}

@media only screen and (min-width: 1200px) {
  .advantage-form-field {
    margin: 5px;
    width: 70%;
  }
}

@media only screen and (min-width: 600px) {

  .advantage-div {
    min-width: 45%;
    float: left
  }

  .disadvantage-div {
    min-width: 45%;
    float: right
  }
}
