.hero-description {
  width: 100%
}

.descriptive-form-field {
  margin: 5px;
  width: 12em;
}

.advantage-form-field {
  margin: 5px;
  width: 55%;
}

@media only screen and (min-width: 1200px) {
  .advantage-form-field {
    margin: 5px;
    width: 70%;
  }
}
