@media screen and (max-width: 600px) {
  .property-form-field {
    margin: 5px;
    width: 4em;
  }

  .probe-form-field {
    margin: 5px;
    width: 2em;
  }
}
@media screen and (min-width: 600px) {
  .property-form-field {
    margin: 5px;
    width: 6em;
  }
}

.weapon-form-field {
  margin: 2px;
}

.weapon-number-form-field {
  margin: 2px;
  width: 80px
}

.weapon-tp-form-field {
  margin: 2px;
  width: 120px
}

.mat-column-name {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 33% !important;
  width: 33% !important;
  overflow-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


