.table-form-field {
    margin: 5px;
    width: 5em;
    min-width: 5em;
}

.table-row {
    height: 20px;
}

.mat-column-probe {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important;
    width: 20% !important;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-name {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 45% !important;
    width: 45% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-fw {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 30% !important;
    width: 30% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

@media screen and (max-width: 600px) {
    /* Let inputs shrink and narrow the FW column on mobile */
    .table-form-field {
        width: 3.5em;
        min-width: 0;
    }

    :host ::ng-deep .mat-mdc-form-field {
        min-width: 0;
    }

    .mat-column-name {
        flex: 1 1 55% !important;
        width: 55% !important;
    }

    .mat-column-probe {
        flex: 0 0 20% !important;
        width: 20% !important;
    }

    .mat-column-fw {
        flex: 0 0 64px !important;
        width: 64px !important;
    }
}

@media screen and (min-width: 600px) {
    .mat-ability {
        width:75%
    }
}
