@media screen and (max-width: 600px) {
  .property-form-field {
    margin: 5px;
    width: 4em;
  }

  .probe-form-field {
    margin: 5px;
    width: 2em;
  }
}
@media screen and (min-width: 600px) {
  .property-form-field {
    margin: 5px;
    width: 6em;
  }
}


.table-form-field {
  margin: 5px;
  width: 4em;
}

.my-card {
  margin: 5px
}

.table-row {
  height: 20px;
}

.mat-column-probe {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-name {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 45% !important;
  width: 45% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-fw {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 30% !important;
  width: 30% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
