<mat-toolbar>
  <span>DSA Editor - Helden Übersicht</span>
</mat-toolbar>
<mat-divider></mat-divider>

<div>
    <button class="dsa-button" mat-raised-button (click)="openDialog()" color="primary">
        Neuer Held
    </button>
</div>
<mat-divider></mat-divider>

<div>
  <mat-list class="heroes">
    <mat-list-item *ngFor="let hero of heroes">
      <button mat-raised-button routerLink="/detail/{{hero.id}}" style="width:15em;text-align:left">
        > {{hero.name}} <
      </button>
    </mat-list-item>
  </mat-list>
</div>

