<mat-toolbar class="my-toolbar">
  <img src="assets/logo-inverted.png" width="40" height="40" style="margin-right: 5px">
  <span>Dark Editor</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-header>
    <mat-card-title style="color: white">
      Log In
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
    <mat-form-field style="margin: 5px">
        <mat-label>Name</mat-label>
        <input matInput id="user-name" placeholder="Name" type="text"  #userName required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput id="user-password" type="password" class="formControl" placeholder="Password" #userPassword required>
      </mat-form-field>

      <br>

      <button mat-raised-button color="primary"
              (click)="authService.signIn(userName.value, userPassword.value)" (keydown.enter)="authService.signIn(userName.value, userPassword.value)">Log In</button>
    </form>
  </mat-card-content>
</mat-card>
